node_modules
AppiumFramework/screenshots/
AppiumFramework/reports/allureReports/
.pytest_cache/
Code2LEad.log
AppiumFramework/tests/.pytest_cache/*
AppiumFramework/tests/__pycache__/*
AppiumFramework/base/__pycache__/*
AppiumFramework/pages/__pycache__/*
RerunTestsPytest/__pycache__/ReRunningFailedTests.cpython-38-pytest-7.2.1.pyc
.DS_Store
package.json
package-lock.json